.basket-item {
  padding-bottom: 10px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
}

.basket-item span {
  color: #999;
}
.basket-container {
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
}
.basket-container h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.basket-container .total {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #179b17;
  margin-bottom: 10px;
}
.basket-reset-btn {
  background: #3A4F7A;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  width: 100%;
}
.basket-container.container {
  width: 415px;
  position: fixed;
  right: 19px;
  top: 80px;
}