.header {
    position: sticky;
    top: 0;
    background: #3a4f7a;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
  }

  .header.empty {
    background: linear-gradient(to bottom, #b82020, #be1414);
  }

  .header span {
    margin: 0 10px;
    font-weight: bold;
  }