    .product {
      padding: 15px;
      background: #fff;
      border: 1px solid #ddd;
      margin-bottom: 20px;
      width: 24%;
    }

    .product img {
      width: 100%;
    }

    .product h6 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .product .price {
      font-size: 20px;
      color: #179b17;
    }

    .product .actions {
      display: flex;
      align-items: center;
      margin-top: 15px;
    }

    .actions button {
      height: 40px;
      padding: 0 15px;
      flex: 1;
      cursor: pointer;
    }

    .actions button[disabled] {
      opacity: .3;
      cursor: not-allowed;
    }

    .actions .buy-btn {
      background: #3A4F7A;
      font-size: 18px;
      font-weight: 500;
      border-radius: 0 4px 4px 0;
      color: #fff;
    }

    .actions .sell-btn {
      background: #3A4F7A;
      font-size: 18px;
      font-weight: 500;
      border-radius: 4px 0 0 4px;
      color: #fff;
    }

    .actions .amount {
      width: 50px;
      text-align: center;
      border: 1px solid #ddd;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      font-weight: bold;
      color: #555;
    }
  .price-area-flex{
    display: flex;
    justify-content: space-between;
  }